<div class="vis">
  <!--<densemap ng-model="$ctrl.msg" ng-scale="$ctrl.scale" ng-offset="$ctrl.offset"></densemap>-->
  <!--<scatterplot ng-model="$ctrl.msg" style="width: 100%; height: 100%;"></scatterplot>-->
  <!--<galaxy ng-model="$ctrl.msg" ng-scale="$ctrl.scale" ng-offset="$ctrl.offset" ng-locate="$ctrl.locateText"
  on-expand="$ctrl.expand()" on-contract="$ctrl.contract()" on-move="$ctrl.move(dx, dy)"></galaxy>-->
  <!--<solar></solar>-->
  <!--<leftpanel ng-model="$ctrl.query" on-delete="$ctrl.deleteQuery(index, type)"  on-switch="$ctrl.switchAction(index, type)" on-locate="$ctrl.locateTo(word)"></leftpanel>-->
  <!--<bucket></bucket>-->
  <starry></starry>
  <search-interface></search-interface>
  <browser class="close-browser"></browser>
</div>